
    body {
      background-color: lightblue; /* Голубой фон всего сайта */
      font-family: Arial, sans-serif;
      padding: 20px;
      margin: 0;
      color: #000; /* Цвет текста — чёрный для контраста */
    }
blockquote.q {
color: #D4AF37;
border-left: 4px solid #8B0000;
font-style: italic;
}

@font-face {
font-family: sans-serif;
src: url("Fonts/pudelinka.ttf" ) format("truetype");
font-weight: normal;
font-style: normal;
}
 p.quote {
 font-family: "Pudelinka",
}  
